 @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.root{
  --primary:#107D07;
}

body{
  background-image: url("https://s3-alpha-sig.figma.com/img/3eb2/671a/2e9dc248e54f8b71b366dddf20fbe136?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=a67gxtMagbunVGk7F-WpFcE7bnrVB-VBQm9zz6rhl9rvJchAOI0Clk5cmVtCDDmIGK8FkSbQA52rG~VBpsJ~5MUA3JEmQGgHqZzJD~SWc9algPzEgyx4J3cF5ukmgBQ2xZhETI1hfVDUMlYFNgYI4TYARtt3iKNTjB84BUwQGprgbmq19fLsWcVzwqvWXRHkxIUwey6p~uNXNUgqmq1Lh17c7-sA8lOHocQPavd~bJeOUGf8HZtpZfFRhz47HmYwPZbACu-tUznmC9zla0SaYC1n4UrQc7WKPw9VyVM-hk03Gdg7~tLlWrnTO-VKJo0pTRfj~v5jBG5SPxgJtO29QQ__");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.body{
  width: 100vw;
  height:100vh;
  gap: 0px;
  opacity: 0px;
  position:relative;
}

.nav-bar{
  position:fixed;
  top:0;
  height:15vh;
  width:100vw;
  display:flex;
  flex-direction: row;
  justify-content: end;
  backdrop-filter: blur(12px);
  box-shadow: 0px 10px 8px #00000040;
  z-index:10;
}

.nav-logo{
  height:60px;
  width:100px;
  background-color: #fff;
  position:fixed;
  left:30px;
  top:30px;
}

.nav-button{
  color:#107D07; 
  font-family: "Fredoka", system-ui;
  font-optical-sizing: auto;
  font-weight: 541;
  font-style: normal;
  font-variation-settings:"wdth" 103.8;
  font-size:27px;
  margin:20px;
  border:none;
  background-color: transparent;
}

.nav-button:hover
{
  font-size: 29px;
  color:#000;
}

.home-sym{
  position:absolute;
  top:35%;
  left:50%;
  transform: translate(-50%,-30%);
  height:70vh;
  width:100vw;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-word {
  flex:none;
  height: 23vh;
  width: 70vw;
  padding: 20px;
  border: 2px solid grey;
  border-radius: 20px;
  background-color: transparent;
  backdrop-filter: blur(9px);
  position: relative;
}

.home-main-word{
  position: absolute;
  top:10%;
  left:8%;
  font-family: "Fredoka", system-ui;
  font-optical-sizing: auto;
  font-weight: 541;
  font-style: normal;
  font-variation-settings:"wdth" 103.8;
  font-size: 82px; 
}

.home-main-word:not(.invert){
  text-shadow: 
  -2px -2px 0 #fff,
  2px -2px 0 #fff,
  -2px 2px 0 #fff,
  2px 2px 0 #fff,
  0 -3px 0 #fff,
  0 3px 0 #fff,
  -3px 0 0 #fff,
  3px 0 0 #fff;
  display: inline-block;
}

.invert {
  top:41%;
  height:fit-content;
  display: inline-block;
  transform: rotateX(180deg);
  background: linear-gradient(180deg, rgba(102, 102, 102, 0.26) 0.01%, rgba(53, 53, 53, 0.54) 48.5%, rgba(0, 0, 0, 0.7) 100%);
  -webkit-background-clip: text;  
  background-clip: text; 
  -webkit-text-fill-color: transparent; 
  color: transparent; 
}

.countdown{
  position: absolute;
  top:80%;
  left:50%;
  transform:translate(-50%,-65%);
  height:23vh;
  width:40vw;
  background-color:rgba(11, 74, 25, 1);
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.counttime{
  color:#fff;
  font-family: "Fredoka", system-ui;
  font-optical-sizing: auto;
  font-weight: 541;
  font-style: normal;
  font-variation-settings:"wdth" 103.8;
  font-size:64px;
  margin:0;
}

.seeu{
  color:#fff;
  font-family: "Fredoka", system-ui;
  font-optical-sizing: auto;
  font-weight: 541;
  font-style: normal;
  font-variation-settings:"wdth" 103.8;
  font-size: 32px;
  padding:0;
  margin:0;
}

.labels{
  color:#fff;
  font-family: "Fredoka", system-ui;
  font-optical-sizing: auto;
  font-weight: 541;
  font-style: normal;
  font-variation-settings:"wdth" 103.8;
  font-size: 24px;
  padding:0;
  margin:0;
}

.sponsor-body{
  height:100vh;
  width:100vw;
  background: linear-gradient(180deg, #78A653 0%, #1FB966 100%);
  position:absolute;
  top:120vh;
  font-family: "Fredoka", system-ui;
  font-optical-sizing: auto;
  font-weight: 541;
  font-style: normal;
  font-variation-settings:"wdth" 103.8;
  text-align: center;
  overflow:hidden;
  z-index:0;
}

.wording{
  font-size: 20px;
}

.wording>img{
  height:20px;
  width:20px;
}

.info{
  height:60vh;
  width:55vw;
  border:2px solid red;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.info>p{
  flex-wrap: wrap;
 font-size: large; 
}
@media screen and (max-width: 1400px) {
  .nav-button {
    font-size:25px;
    margin: 10px;
  }

  .home-word {
    height:18vh;
    width: 65vw; 
  }

  .home-main-word {
    font-size: 55px; 
  }
}

@media screen and (max-width: 1000px) {
  .nav-logo{
    display:none;
  }
  .nav-button{
    font-size:20px;
    margin: 10px;
  }
  .nav-button:not(.apply){
    position:absolute;
    
  }

  .home-word {
    height:18vh;
    width: 100vw; 
    background-color: transparent;
    backdrop-filter: blur(0px);
    border:none;
  }

  .home-main-word {
    font-size: 55px; 
  }
}



